@use './primary_style/colors.scss';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');

body {
  width: 100%;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  color: colors.$primary-color;

  a{
    color: colors.$primary-color;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}